In [3]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
# https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach
engine = create_engine('postgresql://housing_user:sandwich@host.docker.internal:5432/portland_housing')

In [6]:
addresses = pd.read_csv("data/Active_Address_Points.csv", dtype=str, nrows=100)

In [7]:
addresses.head(3)

,OBJECTID,ADDRESS_ID,ADDRESS_NUMBER,ADDRESS_NUMBER_CHAR,ADDRESS_NUMBER_CHAR2,LEADING_ZERO,STREET_PREFIX_DIRECTION,STREET_NAME,STREET_TYPE_CODE,STREET_POST_DIRECTION,...,IS_SPLIT_MERGE,DATA_SOURCE,X,Y,COMMENTS,ADDRESS_SCORE,MAILING_VALIDITY,MAILING_VALIDITY_DESC,E911_ADDRESS,BDS_LEGAL_ADDRESS
0,1,33,8535,8535,NaN,NaN,N,EDISON,ST,,...,NaN,MULT,7624480.229,708206.237,NaN,-1,Missing unit detail,Confirmed - Missing Secondary Info; the addres...,0,1
1,2,38,6908,6908,NaN,NaN,N,LEAVITT,AVE,,...,NaN,MULT,7624713.616,708091.644,NaN,-1,Confirmed Deliverable,Confirmed; entire address was confirmed delive...,0,1
2,3,57,6923,6923,NaN,NaN,N,JOHN,AVE,,...,NaN,MULT,7624892.33,708115.126,NaN,-1,Confirmed Deliverable,Confirmed; entire address was confirmed delive...,0,1

In [8]:
addresses.columns = [col.lower() for col in addresses.columns]

In [9]:
addresses.columns

Index(['objectid', 'address_id', 'address_number', 'address_number_char',
       'address_number_char2', 'leading_zero', 'street_prefix_direction',
       'street_name', 'street_type_code', 'street_post_direction',
       'street_name_full', 'unit', 'unit_type', 'address_full', 'mail_city',
       'state', 'state_abbreviation', 'zip_code', 'zip4', 'jurisdiction_name',
       'jurisdiction_abbreviation', 'county', 'status', 'address_type',
       'building_id', 'property_id', 'state_id', 'tlid', 'carrier_route',
       'z_level', 'is_main_address', 'parent_address_id', 'parent_state_id',
       'effective_date', 'created_date', 'created_by', 'modified_date',
       'modified_by', 'retired_date', 'is_ranged', 'is_split_merge',
       'data_source', 'x', 'y', 'comments', 'address_score',
       'mailing_validity', 'mailing_validity_desc', 'e911_address',
       'bds_legal_address'],
      dtype='object')

In [10]:
addresses.to_sql(name="addresses", schema="raw",con=engine)

ValueError: Table 'addresses' already exists.