In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
zoning = gpd.read_file("data/Zoning.geojson")

In [3]:
zoning.head(3)

,OBJECTID,ZONE,CMP,OVRLY,CMPOVR,PLDIST,HIST,CONSV,NRMP,UNINC,...,CMP_DESC,OVRLY_DESC,PLDIST_DESC,HIST_DESC,CONSV_DESC,NRMP_DESC,MAPLABEL,CMPDIFFER,CMPOVR_DESC,geometry
0,1,CE,MU-C,None,None,LB,None,None,None,N,...,Mixed Use - Civic Corridor,None,Lombard Street Plan District,None,None,None,CE(MU-C),N,None,"POLYGON ((-122.73828 45.58728, -122.73840 45.5..."
1,2,CE,MU-C,c,None,None,None,None,None,N,...,Mixed Use - Civic Corridor,Environmental Conservation,None,None,None,None,CEc(MU-C),N,None,"POLYGON ((-122.70958 45.46110, -122.70955 45.4..."
2,3,CE,MU-C,d,None,EC,None,None,None,N,...,Mixed Use - Civic Corridor,Design,East Corridor Plan District,None,None,None,CEd(MU-C),N,None,"POLYGON ((-122.51714 45.51991, -122.51714 45.5..."

In [4]:
hexbins = gpd.read_file("processed_data/portland_hexgrid_res9.geojson")

In [5]:
zoning_hexbin = gpd.overlay(zoning, hexbins, how='intersection')

In [12]:
zoning_hexbin_localcrs = zoning_hexbin.to_crs(2269)

In [14]:
zoning_hexbin_localcrs.loc[:,'new_zoning_area_sqft'] = zoning_hexbin_localcrs.geometry.area

In [22]:
zone_dict = {zone:idx for idx, zone in enumerate(zoning_hexbin_localcrs.loc[:,'ZONE'].unique())}
str(zone_dict)

"{'CE': 0, 'RM1': 1, 'IG2': 2, 'R2.5': 3, 'R5': 4, 'RM2': 5, 'CM1': 6, 'OS': 7, 'R7': 8, 'CM2': 9, 'EG2': 10, 'IH': 11, 'RF': 12, 'R10': 13, 'IR': 14, 'CL': 15, 'IG1': 16, 'R20': 17, 'EG1': 18, 'CI1': 19, 'RM4': 20, 'CM3': 21, 'CX': 22, 'RM3': 23, 'CI2': 24, 'RMP': 25, 'EX': 26, 'WC': 27, 'RX': 28, 'CR': 29, 'MC': 30}"

In [23]:
zoning_hexbin_localcrs.loc[:,'zone_value'] = zoning_hexbin_localcrs.loc[:,'ZONE'].apply(lambda x: zone_dict[x])

In [24]:
zoning_hexbin_for_export = zoning_hexbin_localcrs.to_crs(4326)

In [26]:
zoning_hexbin_for_export.columns = [col.lower() for col in zoning_hexbin_for_export.columns]

In [33]:
zoning_hexbin_groups = (zoning_hexbin_for_export
                            .groupby(['hex_id','zone','zone_value'])
                            .agg(total_zone_area_per_hex=('new_zoning_area_sqft','sum'))
                            .reset_index()
                            )
zoning_hexbin_groups.head(3)

            hex_id zone  zone_value  total_zone_area_per_hex
0  8928f000003ffff  CI2          24            405126.084401
1  8928f000003ffff  CM2           9            275573.042797
2  8928f000003ffff  CM3          21            190832.330513

In [34]:
zoning_hexbin_totals = (zoning_hexbin_groups
                            .groupby(['hex_id'])
                            .agg(total_area_per_hex=('total_zone_area_per_hex','sum'))
                            .reset_index()
                            )
zoning_hexbin_totals.head(3)

            hex_id  total_area_per_hex
0  8928f000003ffff        1.043603e+06
1  8928f000007ffff        1.043544e+06
2  8928f00000bffff        1.043602e+06

In [37]:
zoning_hexbin_groups_total = zoning_hexbin_groups.merge(zoning_hexbin_totals, how='left', on = 'hex_id')
zoning_hexbin_groups_total.loc[:,'percent_of_total_area'] = round((zoning_hexbin_groups_total.loc[:,'total_zone_area_per_hex']
                                                            /zoning_hexbin_groups_total.loc[:,'total_area_per_hex'])*100,2)

zoning_hexbin_groups_total.loc[:,'weighted_zone_value'] =  (zoning_hexbin_groups_total.loc[:,'percent_of_total_area']/100)*zoning_hexbin_groups_total.loc[:,'zone_value']
zoning_hexbin_groups_total.head(3)

,hex_id,zone,zone_value,total_zone_area_per_hex,total_area_per_hex,percent_of_total_area,weighted_zone_value
0,8928f000003ffff,CI2,24,405126.084401,1.043603e+06,38.82,9.3168
1,8928f000003ffff,CM2,9,275573.042797,1.043603e+06,26.41,2.3769
2,8928f000003ffff,CM3,21,190832.330513,1.043603e+06,18.29,3.8409

In [38]:
zoning_hexbin_groups_total[zoning_hexbin_groups_total['hex_id']=='8928f000003ffff']

,hex_id,zone,zone_value,total_zone_area_per_hex,total_area_per_hex,percent_of_total_area,weighted_zone_value
0,8928f000003ffff,CI2,24,405126.084401,1.043603e+06,38.82,9.3168
1,8928f000003ffff,CM2,9,275573.042797,1.043603e+06,26.41,2.3769
2,8928f000003ffff,CM3,21,190832.330513,1.043603e+06,18.29,3.8409
3,8928f000003ffff,OS,7,20719.887175,1.043603e+06,1.99,0.1393
4,8928f000003ffff,R2.5,3,1654.409530,1.043603e+06,0.16,0.0048
5,8928f000003ffff,RM2,5,149697.591622,1.043603e+06,14.34,0.7170

In [40]:
zoning_hexbin_weighted_values = (zoning_hexbin_groups_total
                                    .groupby('hex_id')
                                    .agg(weighted_zone_value=('weighted_zone_value','sum'))
                                    .reset_index())

zoning_hexbin_weighted_values.head(3)

            hex_id  weighted_zone_value
0  8928f000003ffff              16.3957
1  8928f000007ffff               9.7035
2  8928f00000bffff               5.4212

In [41]:
import sqlalchemy
from sqlalchemy import create_engine

In [42]:
# https://stackoverflow.com/questions/24319662/from-inside-of-a-docker-container-how-do-i-connect-to-the-localhost-of-the-mach
engine = create_engine('postgresql://housing_user:sandwich@host.docker.internal:5432/portland_housing')

In [43]:
zoning_hexbin_weighted_values.to_sql(name="weighted_zone_w_hexid", schema="stage",con=engine)

In [44]:
zoning_hexbin_groups_total.to_sql(name="zone_w_hexid_group_totals", schema="stage",con=engine)