In [13]:
import requests
import json
import logging
import pandas as pd

In [3]:
def single_request(url, params):
    r = requests.get(url,params=params)
    try:
        if r.status_code == 200:
            return r.content
    except:
        logging.error('status code {}'.format(r.status_code))

In [2]:
property_id = 'R102214'
api_key = '50DFEC75EFE84D59AC2F63FB66966D47'
url = 'https://www.portlandmaps.com/api/detail/'
params = {'detail_type':'assessor','sections':'*','detail_id':property_id
            ,'format':'json','api_key':api_key}

In [3]:
r = requests.get(url,params=params)

In [19]:
building_info_json = json.loads(r.content)['general']

In [20]:
sales_info_json = json.loads(r.content)['sales history & deed']

In [21]:
building_info_df = pd.DataFrame([building_info_json])
building_info_df

,address,address2,city,property_id,tax_roll,use,lot,block,county,state_id,...,x,y,account_status_code,land_type,total_land_area,total_land_area_acres,total_land_area_sqft,building_area,building_area_sqft,assessor_update_date
0,223 NE RUSSELL ST,"PORTLAND, OR 97212",PORTLAND,R102214,"ALBINA, BLOCK 17, WLY 1/2 OF LOT 19 EXC PT IN ...",OFFICE GENERAL,"19,20",17,M,1N1E27AD 17300,...,7648012,690827,A,CVCL - CONVERTED COMMERCIAL SEGMENT,"0.25 acres (10,875 sq ft)",0.249656,10875.0,"5,750 sq ft",5750,11/08/2021 4:17AM

In [25]:
building_info_df.columns

Index(['address', 'address2', 'city', 'property_id', 'tax_roll', 'use', 'lot',
       'block', 'county', 'state_id', 'new_state_id', 'parent_state_id',
       'alt_account_number', 'map_number', 'is_condo', 'tax_code', 'x', 'y',
       'account_status_code', 'land_type', 'total_land_area',
       'total_land_area_acres', 'total_land_area_sqft', 'building_area',
       'building_area_sqft', 'assessor_update_date'],
      dtype='object')

In [28]:
select_building_info = building_info_df[['property_id', 'use', 
        'is_condo','land_type', 'total_land_area',
       'total_land_area_acres', 'total_land_area_sqft', 'building_area',
       'building_area_sqft', 'assessor_update_date']].copy()

In [37]:
sales_info_df = pd.DataFrame([sale for sale in sales_info_json]).dropna(subset=['sale_date'])
sales_info_df.loc[:,'property_id'] = select_building_info['property_id'].to_numpy()[0]
sales_info_df

,sale_date,type,instrument,sale_price,property_id
0,"March, 25 2005 00:00:00",WD WARRANTY DEED,2005053979,"$375,000.00",R102214